* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.Nav{
  display:flex;
  background-color: lightseagreen;
  justify-content: space-between;
  padding:14px 20px;
}

.Nav2{
  display:flex;
  gap:30px;
}